<a href="https://colab.research.google.com/github/electrojam/Breast-cancer-with-96-accuracy/blob/main/Clase15_Uso_de_iloc_y_loc_en_Pandas15_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

In [18]:
path = '/content/online_retail.csv'
retail_data = pd.read_csv(path)

#### iloc selección de datos

In [19]:
# primera fila con iloc
first_row = retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                        12/1/2010 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [20]:
# Primeras 5 filas con iloc
first_five_row = retail_data.iloc[:5]
print(first_five_row)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [21]:
# primeras 3 filas y las primeras 2 columnas
subset = retail_data.iloc[:3,:2]
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [22]:
# dato de posición [1,2]
retail_value = retail_data.iloc[1,2]
print(retail_value)

WHITE METAL LANTERN

#### loc selección de datos

In [23]:
row_index_3 = retail_data.loc[3]
print(row_index_3)

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                         12/1/2010 8:26
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [24]:
# loc extraer filas desde la 0:4
row_index_4 = retail_data.loc[0:4]
print(row_index_4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [25]:
# loc extraer todas las filas de la columna Quantity
quantity_column = retail_data.loc[:,'Quantity']
print(quantity_column)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [26]:
# loc extraer todas las filas de las columnas Quantity y Unitprices
quantity_unitprices_column = retail_data.loc[:, ['Quantity', 'UnitPrice']]
print(quantity_unitprices_column)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

#### Ejercicio Práctico

1. Seleccionar Subconjuntos de Datos:
- Utiliza iloc para seleccionar las primeras 10 filas y las primeras 2 columnas del dataset de retail.
- Utiliza loc para seleccionar todas las filas y las columnas ‘Quantity’ y ‘UnitPrice’.
2. Acceso Específico:
- Utiliza iloc para seleccionar el valor en la quinta fila y la segunda columna.
- Utiliza loc para seleccionar todas las filas donde el país es ‘United Kingdom’ y mostrar las columnas ‘Quantity’ y ‘UnitPrice’.

In [28]:
# Utiliza iloc para seleccionar las primeras 10 filas y las primeras 2 columnas del dataset de retail.
row_10_col_2 = retail_data.iloc[:10, :2]
print(row_10_col_2)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E
5    536365     22752
6    536365     21730
7    536366     22633
8    536366     22632
9    536367     84879

In [29]:
# Utiliza loc para seleccionar todas las filas y las columnas ‘Quantity’ y ‘UnitPrice’.
quantity_unitprice = retail_data.loc[:, ['Quantity', 'UnitPrice']]
print(quantity_unitprice)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541904        12       0.85
541905         6       2.10
541906         4       4.15
541907         4       4.15
541908         3       4.95

[541909 rows x 2 columns]

In [30]:
# Utiliza iloc para seleccionar el valor en la quinta fila y la segunda columna.
row_5_col_2 = retail_data.iloc[5,2]
print(row_5_col_2)

SET 7 BABUSHKA NESTING BOXES

In [34]:
# Utiliza loc para seleccionar todas las filas donde el país es ‘United Kingdom’ y mostrar las columnas ‘Quantity’ y ‘UnitPrice’.
united = retail_data.loc[retail_data['Country'] == 'United Kingdom', ['Quantity', 'UnitPrice']]
print(united)

        Quantity  UnitPrice
0              6       2.55
1              6       3.39
2              8       2.75
3              6       3.39
4              6       3.39
...          ...        ...
541889        12       1.95
541890         8       2.95
541891        24       1.25
541892        24       8.95
541893        10       7.08

[495478 rows x 2 columns]